body {
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#cabecera {
    background-color: burlywood;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1rem;
    -webkit-box-shadow: 0px 24px 18px -12px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 24px 18px -12px rgba(0,0,0,0.54);
    box-shadow: 0px 24px 18px -12px rgba(0,0,0,0.54);
}

#cabecera #tagline {
    padding: 1rem;
    font-weight: normal;
    font-size: .8rem;

}

#container {
    width: 70%;
    padding: 2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 0 10px 0 10px;
    margin: auto;
}

#container h1 {
    font-size: 20px;
    font-weight: bold;
}

#post {
    padding: 1rem;
}

#post p {
    color: black;
}

